SDK/misc/Help_Build_Schemas/Session.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Shane McRoberts (Microsoft) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://schemas.microsoft.com/help/session/2003/10" xmlns:session="http://schemas.microsoft.com/help/session/2003/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0.2">
	<xs:element name="session">
		<xs:annotation>
			<xs:documentation>A session defines the characteristics of an application/user session.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="activeContentSet">
					<xs:annotation>
						<xs:documentation>This element specifies the contentSet (AKA collection) to load for the session. Note: This element is only used if the application specifically invokes a session; if the session file is selected as a default session (from the defaultSessionFile attribute of the contentSet element in the taskdata file), this element is ignored.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" type="xs:ID" use="optional"/>
						<xs:attribute name="name" type="session:nameRefType" use="required"/>
						<xs:attribute name="displayName" type="xs:string" use="required"/>
						<xs:attribute name="icon" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="layouts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="layout" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A layout is a collection of views that are appropriate for a particular viewer orientation or experience. Standard layouts will be used for the vertical orientation of the Help Pane, the horizontal orientation of the Pane, and the "big window" viewer experience. At runtime, layouts are selected by the viewer containing the Help control/canvas based on the task type attribute.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="view" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Views describe the user experience in the Help viewer. Every session should contain views for the TOC, Index, Search, and Content experiences. Additionally, custom views can be defined here and displayed via the Help API.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="tile" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Tiles represent controls that display portions of the UI. Currently, a maximum of three tiles is supported per view, Tiles can be positioned at the top, center, bottom, left, or right. </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="name" type="session:nameType" use="required"/>
															<xs:attribute name="position" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="left"/>
																		<xs:enumeration value="right"/>
																		<xs:enumeration value="top"/>
																		<xs:enumeration value="bottom"/>
																		<xs:enumeration value="center"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="class" type="session:nameType" use="required"/>
															<xs:attribute name="isNavigatable" use="optional" default="false">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="true"/>
																		<xs:enumeration value="false"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="initData" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:ID"/>
												<xs:attribute name="name" type="session:nameType" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:ID" use="optional"/>
									<xs:attribute name="name" type="session:nameType" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="attributes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="id" type="xs:ID" use="optional"/>
									<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
									<xs:attribute name="data" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="nameType">
		<xs:annotation>
			<xs:documentation>Unique name identifier type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NCName">
			<xs:maxLength value="256"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameRefType">
		<xs:annotation>
			<xs:documentation>Type for reference to unique name identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NCName">
			<xs:minLength value="0"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
